<div class="container">
  <h1>Calendars#monthly</h1>
  <p>Find me in app/views/calendars/monthly.html.erb</p>
    <h2>
      <%= link_to "<", date: @date.prev_month %>
      <%= link_to ">", date: @date.next_month %>
    </h2>


  <table class="table table-bordered">
    <% @months = months_header %>
    <tr>
      <td><%= @months.first.strftime("%b %Y") %> - <%= @months.last.strftime("%b %Y") %></td>
      <% @months.each do |month| %>
        <th><%= month.strftime("%B") %></th>
      <% end %>
    </tr>

    <tr>
      <td>Cash on Hand (Beginning of Month)</td>
      <% cash_on_hand.each do |amount| %>
        <td class="text-right">
          <%= amount %>
        </td>
      <% end %>
    </tr>

    <tr>
      <td id="total-income"><strong>Total income</strong></td>
      <% total_income.each do |amount| %>
        <td class="text-right">
          <%= amount %>
        </td>
      <% end %>
    </tr>

    <% @income_categories.each do |category| %>
      <% if category.incomes.count > 0 %>
        <tr id="category">
          <td><strong><%= category.name %></strong></td>
          <% @months.each do |month| %>
            <% category.incomes.each do |income| %>
              <% puts month %>
              <% income.recurrent_income.recurrent_hash.each do |date| %>
                <% if date.strftime("%b %Y") == month.strftime("%b %Y") %>
                  <% @category_total += income.recurrent_income.recurrent_hash.options[:income][:amount] %>
                <% end %>
              <% end %>
            <% end %>
            <td class="text-right"><%= @category_total %></td>
            <% @category_total = 0 %>
          <% end %>
        </tr>
        <% @projects.each do |project| %>
          <% if project.incomes.where(category_id: category.id).sum(:amount) > 0 %>
            <tr id="project">
              <td><strong>&nbsp;&nbsp;<%= project.name %></strong></td>
              <% @months.each do |month| %>
                <% project.incomes.each do |income| %>
                  <% income.recurrent_income.recurrent_hash.each do |date| %>
                    <% if (date.strftime("%b %Y") == month.strftime("%b %Y")) && income.category_id == category.id %>
                      <% @project_total += income.recurrent_income.recurrent_hash.options[:income][:amount] %>
                    <% end %>
                  <% end %>
                <% end %>
                <td class="text-right"><%= @project_total %></td>
                <% @project_total = 0 %>
              <% end %>
            </tr>
            <% @incomes.each do |income| %>
              <% if (income.project.id == project.id) && (income.category.id == category.id) %>
                <tr id="income">
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;<%= income.name %></td>
                  <% @months.each do |month| %>
                    <% income.recurrent_income.recurrent_hash.each do |date| %>
                      <% if (date.strftime("%b %Y") == month.strftime("%b %Y")) && income.category_id == category.id && income.project_id == project.id %>
                        <% @entry_total += income.recurrent_income.recurrent_hash.options[:income][:amount] %>
                      <% end %>
                    <% end %>
                    <td class="text-right"><%= @entry_total %></td>
                    <% @entry_total = 0 %>
                  <% end %>
                </tr>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    <tr>
      <td colspan="9">&nbsp;</td>
    </tr>

    <tr>
      <td id="total-expense"><strong>Total expense</strong></td>
      <% total_expense.each do |amount| %>
        <td class="text-right">
          <%= amount %>
        </td>
      <% end %>
    </tr>

    <% @expense_categories.each do |category| %>
      <% if category.expenses.count > 0 %>
        <tr id="category">
          <td><strong><%= category.name %></strong></td>
          <% @months.each do |month| %>
            <% category.expenses.each do |expense| %>
              <% puts month %>
              <% expense.recurrent_expense.recurrent_hash.each do |date| %>
                <% if date.strftime("%b %Y") == month.strftime("%b %Y") %>
                  <% @category_total += expense.recurrent_expense.recurrent_hash.options[:expense][:amount] %>
                <% end %>
              <% end %>
            <% end %>
            <td class="text-right"><%= @category_total %></td>
            <% @category_total = 0 %>
          <% end %>
        </tr>
        <% @projects.each do |project| %>
          <% if project.expenses.where(category_id: category.id).sum(:amount) > 0 %>
            <tr id="project">
              <td><strong>&nbsp;&nbsp;<%= project.name %></strong></td>
              <% @months.each do |month| %>
                <% project.expenses.each do |expense| %>
                  <% expense.recurrent_expense.recurrent_hash.each do |date| %>
                    <% if (date.strftime("%b %Y") == month.strftime("%b %Y")) && expense.category_id == category.id %>
                      <% @project_total += expense.recurrent_expense.recurrent_hash.options[:expense][:amount] %>
                    <% end %>
                  <% end %>
                <% end %>
                <td class="text-right"><%= @project_total %></td>
                <% @project_total = 0 %>
              <% end %>
            </tr>
            <% @expenses.each do |expense| %>
              <% if (expense.project.id == project.id) && (expense.category.id == category.id) %>
                <tr id="income">
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;<%= expense.name %></td>
                  <% @months.each do |month| %>
                    <% expense.recurrent_expense.recurrent_hash.each do |date| %>
                      <% if (date.strftime("%b %Y") == month.strftime("%b %Y")) && expense.category_id == category.id && expense.project_id == project.id %>
                        <% @entry_total += expense.recurrent_expense.recurrent_hash.options[:expense][:amount] %>
                      <% end %>
                    <% end %>
                    <td class="text-right"><%= @entry_total %></td>
                    <% @entry_total = 0 %>
                  <% end %>
                </tr>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

  </table>

</div>