<h1>New Expense</h1>

<%= form_for @expense do |f| %>
  <p>
    <%= f.label :name %> <br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :amount %> <br>
    <%= f.number_field :amount %>
  </p>
  <p>
    <%= f.label :description %> <br>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :date %> <br>
    <%= f.date_select :date, default: Time.now %>
  </p>
  <p>
    <%= f.label :category %> <br>
    <%= f.collection_select( :category_id, Category.all.where(transaction_type: 1), :id, :name) %>
  </p>
  <p>
    <%= f.label :project %> <br>
    <%= f.collection_select( :project_id, Project.all, :id, :name) %>
  </p>
  <p>
    <%= f.label :recurrence %> <br>
    <%= f.select :recurrence, options_for_select(Expense.recurrences.keys) %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>