<h1>Categories</h1>
<hr>

<h1>Income</h1>
<div class="row">
  <div class="col-md-6">
    <%= high_chart("3", @income_chart)  %>
  </div>
  <div class="col-md-6">
    <table class="table table-bordered pie-table">
      <tr>
        <th>%</th>
        <th>Category</th>
        <th>Total</th>
      </tr>
      <% income_categories_distribution.each_with_index do |category, index| %>
        <tr>
          <td><%= category[1] %>%</td>
          <td><%= category[0] %></td>
          <td><%= @category_view[index] %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
<hr>
<h2>Expenses</h2>
<div class="row">
  <div class="col-md-6">
    <%= high_chart("4", @expense_chart)  %>
  </div>
  <div class="col-md-6">
    <table class="table table-bordered pie-table">
      <tr>
        <th>%</th>
        <th>Category</th>
        <th>Total</th>
      </tr>
      <% expense_categories_distribution.each_with_index do |category, index| %>
        <tr>
          <td><%= category[1] %>%</td>
          <td><%= category[0] %></td>
          <td><%= @category_view[index] %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>


